<div class="card">
  <div class="card-container">
    <div class="card-image">
      <img src="{{image}}" alt="{{title}}">
      <div class="title">
        {{#repository}}
          <a href="{{repository}}">
            <svg class="icon icon-external-link pull-right">
              <use xlink:href="/src/images/symbol-defs.svg#icon-external-link"></use>
            </svg>
          </a>
        {{/repository}}
        <h2>{{title}}</h2>
      </div>
    </div>
    <div class="card-description">
      <p>{{description}}</p>
      <div class="tags">
        {{#tags}}
          <span class="label label-default">{{.}}</span>
        {{/tags}}
      </div>
    </div>
  </div>
</div>
