// Breakpoints
$breakpoint-xs: 400px;  // larger than mobile
$breakpoint-sm: 550px;  // larger than phablet
$breakpoint-md: 750px;  // larger than tablet
$breakpoint-lg: 1000px; // larger than desktop
$breakpoint-xl: 1200px; // larger than desktop hd

// Typography
$font-base: 'Open Sans', Arial, Helvetica, sans-serif;
$font-light: 'nexa_lightregular', sans-serif;
$font-bold: 'nexa_boldregular', sans-serif;
$font-alt: 'Montserrat', sans-serif;
$font-size-base: 14px;
$line-height-base: 20px;

// Colors
$color-white: #fff;
$color-light-gray: #f0f0f0;
$color-md-gray: #e1e1e1;
$color-dark-gray: #333;

$color-dark-red: #ED174C;
$color-light-red: #EF4158;
$color-dark-blue: #0095DA;
$color-light-blue: #00A0DF;

$primary-color: #33c3f0;
$secondary-color: adjust-lightness($color-dark-gray, 13.5%);

$color-text: #313d38;
$color-link: #056cc1;
$color-background: $color-light-gray;

// Social Buttons
$color-twitter-fg: #2CA9E1;
$color-twitter-bg: #2695BC;
$color-google-fg: #CD1D1F;
$color-google-bg: #8C151B;
$color-github-fg: #353631;
$color-github-bg: #141412;
$color-blog-fg: #EA4B24;
$color-blog-bg: #B7371D;
$color-email-fg: #4CAF50;
$color-email-bg: #388E3C;
$color-linkedin-fg: #0073B2;
$color-linkedin-bg: #005377;
