.hero {
  composes: container from "../../styles/helpers.css";
  padding: 0 30px;
}

.heroTitle {
  composes: title from "../../styles/helpers.css";
}

.heroSubTitle {
  composes: subtitle from "../../styles/helpers.css";
}

.heroContent {
  composes: content from "../../styles/helpers.css";
}
