.hero {
  composes: container from "../../styles/helpers.css";
  margin-top: 64px;
  padding: 0 30px;
}

.title {
  composes: title from "../../styles/helpers.css";
}

.subtitle {
  composes: subtitle from "../../styles/helpers.css";
}

.content {
  composes: content from "../../styles/helpers.css";
}
