.brand {
  box-shadow: 0 8px 6px -6px lighten($color-dark-gray, 25%);
  background-color: $color-dark-gray;
  background-image: url('./images/overlay.png'), url('./images/bg.png');
  background-repeat: repeat, no-repeat;
  background-position: top left, center center;
  background-size: auto, cover;
  padding: 50px 0;
  background-attachment: fixed, scroll;

  @include lg {
    padding: 110px 0 200px;
    background-attachment: scroll, fixed;
  }

  h1,
  h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px $color-dark-gray;
    color: $color-white;
  }

  h1 {
    letter-spacing: -2px;
    font-family: $font-brand-bold;
    font-size: 25px;

    @include xs {
      font-size: 30px;
    }

    @include lg {
      letter-spacing: -4px;
      font-size: 60px;
    }
  }

  h2 {
    font-family: $font-brand-light;
    font-size: 16px;
    font-weight: 500;

    @include xs {
      font-size: 18px;
    }

    @include lg {
      margin-top: -15px;
      font-size: 28px;
    }
  }
}
