// Breakpoints
$breakpoint-xs: 400px;  // larger than mobile
$breakpoint-sm: 550px;  // larger than phablet
$breakpoint-md: 750px;  // larger than tablet
$breakpoint-lg: 1000px; // larger than desktop
$breakpoint-xl: 1200px; // larger than desktop hd

// Typography
$font-size-base: 14px;

$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-alt: Montserrat, sans-serif;
$font-brand-light: nexa_lightregular, sans-serif;
$font-brand-bold: nexa_boldregular, sans-serif;
$font-code: Menlo, Monaco, Consolas, 'Courier New', monospace;

// Colors
$color-text: #313D38;
$color-link: #056CC1;
$color-white: #FFF;
$color-light-gray: #F0F0F0;
$color-md-gray: #E1E1E1;
$color-dark-gray: #333;

// Social Buttons
$color-twitter-fg: #2CA9E1;
$color-twitter-bg: #2695BC;
$color-github-fg: #353631;
$color-github-bg: #141412;
$color-email-fg: #EA4B24;
$color-email-bg: #B7371D;
$color-google-fg: #4CAF50;
$color-google-bg: #388E3C;
$color-linkedin-fg: #0073B2;
$color-linkedin-bg: #005377;

// z-index
$z-index-navigation-list: 99999;
$z-index-navigation-toggle: $z-index-navigation-list + 1;
