@value font-sans-serif, font-serif, color-dark-gray from "./variables.css";

.container {
  margin: 0 auto;
  max-width: 850px;
  text-align: center;
  width: 100%;
}

.title {
  color: color-dark-gray;
  font-family: font-sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.subtitle {
  color: #8f8f8f;
  font-family: font-sans-serif;
  font-size: 28px;
  font-weight: 300;
  margin: 10px 0 0;
}

.content {
  color: color-dark-gray;
  font-family: font-serif;
  font-size: 21px;
  line-height: 1.6;
}
