.social {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 30px 20px;
  margin: 64px 0;

  a {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    padding: 30px 30px 35px; /* Buttons move down 3px when clicked */

    a {
      width: initial;
      margin-bottom: 0;

      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
}
