@value font-nexa-light, font-nexa-bold from "../../styles/variables.css";

.navigation {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 64px;
  left: 0;
  padding: 0 30px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.navigationTitle {
  color: #333;
  font-family: font-nexa-light;
  font-size: 18px;
  text-decoration: none;

  span {
    font-family: font-nexa-bold;
    font-weight: bold;
  }
}
