@import 'typography';
@import 'variables';
@import 'helpers';
@import 'buttons';

body {
  background-color: $color-light-gray;
  line-height: 1.6;
  color: $color-text;
  font-family: $font-base;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: $color-link;
  font-weight: bold;
}

.container {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  max-width: 970px;
}

.brand {
  box-shadow: 0 8px 6px -6px adjust-lightness($color-dark-gray, 25%);
  background-color: $color-dark-gray;
  background-image: url('/src/images/overlay.png'), url('/src/images/bg.jpg');
  background-repeat: repeat, no-repeat;
  background-position: top left, center center;
  background-size: auto, cover;
  padding: 50px 0;
  background-attachment: fixed, scroll;

  h1,
  h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px $color-dark-gray;
    color: $color-white;
  }

  h1 {
    letter-spacing: -2px;
    font-family: $font-bold;
    font-size: 25px;
    font-weight: bold;
  }

  h2 {
    margin-top: 5px;
    font-family: $font-light;
    font-size: 16px;
  }
}

.about {
  margin-top: 15px;
  box-shadow: 0 2px 0 0 $color-md-gray;
  background: $color-white;
  padding: 20px;
  text-align: justify;
  font-size: 1.15em;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  padding: 15px 0 0;
}

.card-container {
  background: $color-white;
  @include box;
}

.card-image {
  position: relative;
  overflow: hidden;

  & > img {
    transform: scale(1);
    transition: .25s ease-in-out;
    width: 100%;

    .card-container:hover & {
      transform: scale(1.05);
    }
  }

  .title {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .65);
    padding: 10px 15px;
    color: $color-white;

    h2 {
      margin: 0;
      text-transform: uppercase;
      font-family: $font-alt;
      font-size: 1.15em;
      font-weight: 700;
    }

    span {
      color: $color-white;
    }
  }
}

.card-description {
  padding: 15px;

  p {
    text-align: justify;
  }

  .label {
    text-transform: uppercase;
    font-family: $font-bold;
  }
}

.contact {
  margin-top: 15px;
  box-shadow: 0 -8px 6px -6px $color-light-gray;
  background-color: $color-white;
  padding: 15px;

  h2 {
    margin: 0 0 5px;
    text-transform: uppercase;
    letter-spacing: -2px;
    color: adjust-lightness($color-dark-gray, 10%);
    font-family: $font-bold;
    font-size: 1.75em;
  }

  p {
    text-align: justify;

    strong {
      text-transform: uppercase;
      color: $color-dark-gray;
      font-family: $font-bold;
    }
  }

  .social {
    margin: 0;
    padding: 5px 0 0;

    li {
      margin-bottom: 12px;
    }
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  fill: currentColor;
}

.icon-external-link {
  color: #fff;
  font-size: 17px;
}

@include xs {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact {
    @include box;
    margin-bottom: 15px;
  }

  .brand {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 18px;
    }
  }
}

@include sm {
  .card-image {
    height: 150px;
  }
}

@include md {
  .card {
    padding: 15px 15px 0 0;
    width: 50%;
  }

  .card-image {
    height: auto;
  }

  .portfolio {
    margin-right: -15px;
  }
}

@include lg {
  .brand {
    padding: 150px 0 340px;
    background-attachment: scroll, fixed;

    h1 {
      letter-spacing: -4px;
      font-family: $font-bold;
      font-size: 60px;
    }

    h2 {
      font-family: $font-light;
      font-size: 28px;
    }
  }

  .about {
    margin-top: -220px;
    border-radius: 10px;
    padding: 40px 50px;
    font-size: 20px;
  }

  .contact {
    margin-bottom: 30px;
    background: $color-white url('/src/images/android.png') no-repeat top right;
    background-size: contain;
    padding: 25px;
  }
}
