<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{site.name}} - {{site.description}}" href="{{site.baseurl}}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico" />
  </head>
  <body>

    <!-- <nav>
      <a href="{{site.baseurl}}/">Blog</a>
      <a href="{{site.baseurl}}/about">About</a>
      <a href="{{site.baseurl}}/projects">Projects</a>
    </nav> -->

    <header class="brand">
      <a href="{{site.baseurl}}/">
        <h1>{{site.name}}</h1>
        <h2>{{site.description}}</h2>
      </a>
    </header>

    <div class="container">
      <section role="main" class="main-content">
        {{content}}
      </section>

      {% include footer.html %}
    </div>

    {% include analytics.html %}
  </body>
</html>
