<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.excerpt %}
    <meta name="description" content="{{page.excerpt| strip_html}}" />
    <meta property="og:description" content="{{page.excerpt| strip_html}}" />
    {% else %}
    <meta name="description" content="{{site.description}}">
    <meta property="og:description" content="{{site.description}}" />
    {% endif %}
    <meta name="author" content="{{site.name}}" />

    {% if page.title %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="twitter:title" content="{{page.title}}" />
    {% endif %}

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{site.name}} - {{site.description}}" href="{{site.baseurl}}/feed.xml" />
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/favicon.ico" />
  </head>
  <body>
    <header class="brand">
      <a href="{{site.baseurl}}/">
        <h1>{{site.name}}</h1>
        <h2>{{site.description}}</h2>
      </a>
    </header>

    <div class="container">
      <section role="main" class="site-content">
        {{content}}
      </section>

      <footer class="site-footer">
        <ul>
          <li><a href="{{site.baseurl}}/">Home</a></li>
          <li><a href="{{site.baseurl}}/about">About</a></li>
          <li><a href="https://github.com/fknussel">Projects</a></li>
          <li><a href="{{site.baseurl}}/">Blog</a></li>
        </ul>
      </footer>
    </div>

    {% include analytics.html %}
  </body>
</html>
