.showcase {
  align-items: flex-start;
  composes: container from "../../styles/helpers.css";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 45px;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    padding: 0 15px;
  }
}

.showcaseLeftColumn {
  margin: 0 auto;
  padding: 0 0 30px;

  @media (min-width: 768px) {
    flex-basis: 35%;
    margin-left: auto;
    padding: 0 75px 0 0;
  }
}

.showcaseRightColumn {
  @media (min-width: 768px) {
    flex-basis: 65%;
  }
}

.showcaseImage {
  max-width: 300px;
  width: 100%;
}

.showcaseTitle {
  composes: title from "../../styles/helpers.css";
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.showcaseSubtitle {
  composes: subtitle from "../../styles/helpers.css";
}

.showcaseContent {
  composes: content from "../../styles/helpers.css";
  text-align: justify;
}

.showcaseLinks {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.showcaseLinksTitle {
  composes: content from "../../styles/helpers.css";
  font-weight: bold;
}

.showcaseLinkDescription {
  composes: content from "../../styles/helpers.css";
  text-align: justify;
}

.caption {
  composes: screen-reader-only from "../../styles/helpers.css";
}
